/webapp

# TODO: bower_components should be ignored and install of components managed with bower commands
# /src/main/webapp/bower_components/

.DS_Store

target/
.settings/

.classpath
.factorypath
.project

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties